<h3 class="d-flex justify-content-center">CAR DETAILS</h3>
<div class="alert alert-danger" role="alert" *ngIf="!status">
  Araç şu an kiralanamaz.
</div>

  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <!-- <div class="carousel-inner">
      <div *ngFor="let image of carImages let i = index" [ngClass]="getSliderClassName(i)">
        <img [src]="getImagePath(image.imagePath)" class="d-block w-100" width="800" height="400" alt="...">
      </div>
    </div> -->
    <div class="carousel-indicators">
      <button *ngFor="let image of carImages;let i = index" type="button" data-bs-target="#carouselExampleIndicators" attr.data-bs-slide-to="{{i}}" [class]="getButtonClass(image)" aria-current="true" aria-label="Slide 1"></button>
      
    </div>
    <div class="carousel-inner">
      <div *ngFor="let image of carImages" [class]="getCurrentImageClass(image)">
        <img src="{{path}}{{image.imagePath}}" class="d-block w-100" width="640" height="480"  alt="Image">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




<!-- <div class="row image-section">
    <div *ngFor="let image of carImages" class="col-md-4 img-gallery">
      <img
        [src]="getImagePath(image.imagePath)"
        class="img-fluid"
        [alt]="getImagePath(image.imagePath)"
      />
    </div>
  </div> -->


  <ul *ngIf="carDtos" class="list-group list-group-flush">
    <li class="list-group-item">Car Name: {{ carDtos.carName }}</li>
    <li class="list-group-item">Brand Name: {{ carDtos.brandName }}</li>
    <li class="list-group-item">Color Name: {{ carDtos.colorName }}</li>
    <li class="list-group-item">Model Year: {{ carDtos.modelYear }}</li>
    <li class="list-group-item">DailyPrice: {{ carDtos.dailyPrice }}</li>
    <li class="list-group-item">Description: {{ carDtos.description }}</li>
  </ul>
  <div class="button">
    <button routerLink="/cars" type="button" class="btn btn-success" style="width: 100px; margin-right: 10px">
      Go Back
    </button>
    
    <button type="button" class="btn btn-danger" style="width: 100px; margin-right: 10px"
    *ngIf="status" data-bs-toggle="modal" data-bs-target="#exampleModal">Kirala</button>
    <app-rental [carforrental]="carDtos"></app-rental>
  </div>
  
